<div class="today-date"></div>
<section class="weather-today">

  <div class="chosen-city"></div>
  <div class="temp-now"></div>
  <div class="weather-type-now"></div>
  <div class="indicators-group">
    <div class="preassure-now bold">Pressure:
      <span class="preassure-now-data"></span>
    </div>
    <div class="humidity-now bold">Humidity:
      <span class="humidity-now-data"></span>
    </div>
    <div class="windspeed-now bold">Windspeed:
      <span class="windspeed-now-data"></span>
    </div>
    <div class="clouds-now bold">Clouds:
      <span class="clouds-now-data"></span>
    </div>
  </div>

</section>
