<section class="forecast-16">
  <h2>Forecast 16 days</h2>

  <ul class="nav nav-tabs">
    <li><a href="#wind" (click)="selectWind()">Wind</a></li>
    <li><a data-toggle="tab" href="#temperature" (click)="selectTemp()">Temperature</a></li>
    <li><a data-toggle="tab" href="#preassure">Presure</a></li>
    <li><a data-toggle="tab" href="#humidity" (click)="selectHumidity()">Humidity</a></li>
  </ul>

  <ngx-charts-bar-vertical
    [view]="view"
    [scheme]="colorScheme"
    [results]="result"

    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [showGridLines]="showGridLines"

    [showYAxisLabel]="showYAxisLabel">
  </ngx-charts-bar-vertical>
</section>
