<section class="forecast-16">
  <h2>Forecast 16 days</h2>

  <ul class="nav nav-tabs">
    <li><a data-toggle="tab" href="#wind">Wind</a></li>
    <li class="active"><a data-toggle="tab" href="#temperature">Temperature</a></li>
    <li><a data-toggle="tab" href="#preassure">Presure</a></li>
    <li><a data-toggle="tab" href="#humidity">Humidity</a></li>
  </ul>
  <div class="tab-content">
    <div id="wind" class="tab-pane fade">
      <div id="wind-chart" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
    </div>
    <div id="temperature" class="tab-pane fade in active">
      <div id="temp-chart" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
    </div>
    <div id="preassure" class="tab-pane fade">
      <div id="pressure-chart" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
    </div>
    <div id="humidity" class="tab-pane fade">
      <div id="humidity-chart" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
    </div>
  </div>
</section>
